.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #f3f4f6; /* light gray */
  transform: scale(1.05);
  transition: 0.2s;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: inherit; /* or white if needed */
}